.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    padding-bottom: 5px;
}
.product-name{
    color: blue;
    font-weight: 500;
}
.regular-btn{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 7px 0px 7px 0px;
    cursor: pointer;
}